<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Service requests:<button class="btn btn-primary pull-right" ng-click="$ctrl.create()">New</i></button></h1>
      <table class="table table-condensed table-striped table-hover">
        <thead>
          <th>Request Id</th>
          <th>Customer Id</th>
          <th>Type</th>
          <th>Event</th>
          <th>Location</th>
          <th>Status</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="bts in $ctrl.serviceRequests | orderBy:'-requestid'">
            <td class="col-md-2">{{bts.requestid}}</td>
            <td class="col-md-1">{{bts.customerid}}</td>
            <td class="col-md-1">{{bts.requesttype}}</td>
            <td class="col-md-1">{{bts.eventtype}}</td>
            <td class="col-md-1">{{bts.location}}</td>
            <td class="col-md-2">{{bts.status}}</td>
            <td class="col-md-4 text-center">
              <button class="btn btn-info action-button" uib-tooltip="view request {{ bts.requestid  }}" ng-click="$ctrl.edit_or_view('View',bts)">View</button>
              <button class="btn btn-warning action-button" uib-tooltip="edit request {{ bts.requestid  }}" ng-click="$ctrl.edit_or_view('Edit',bts)">Edit</button>
              <button class="btn btn-danger action-button" uib-tooltip="release inquiry {{ bts.requestid  }}">Release</button>
              <button class="btn btn-success action-button" uib-tooltip="confirm inquiry {{ bts.requestid  }}">Confirm</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
